body{
    font-family: Arial;
    text-align: center;
    margin-top: 40px;
}

input,select,button{
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

ul{
    list-style: none;
    padding: 0;
}

.progress-box{
    width: 80%;
    height: 20px;
    background: #ddd;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

#progress-bar{
    height: 100%;
    width: 0%;
    background: #4caf50;
}